:root
  // 圆角
  --radius_base 0px
  // 背景色
  --bg_color_primary #fff
  --button_bg_secondary #262626
  --button_bg_secondary_hover #444444
  --option_bg #262626
  // 文字色
  --text_color_primar #262626
  // 边框色
  --border_color #dfdfdf
  --border_color_dark #262626
  // 页面间距
  --top_bar_height 36px
  --page_padding 12px
  // 动画
  --ani_base 120ms all ease-out
  --ani_long 240ms all ease-in-out