h1, h2, h3, h4, h5, p, a, span, li, input
  margin 0
  color var(--text_color_primary)
  text-decoration none
  font-weight normal
  font-size 11px
  font-family 'PingFang SC', 'SF Pro SC', 'SF Pro Text', 'Helvetica Neue', Helvetica, Roboto, 'Arial', 'microsoft yahei ui', 'Microsoft YaHei', SimSun, sans-serif
  line-height 16px
  -moz-osx-font-smoothing grayscale
  -webkit-font-smoothing antialiased

body
  margin 0

*
  box-sizing border-box